@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

novo-modal#settings {
  min-width: 54em;

  section {
    padding: 0;

    novo-dynamic-form {
      height: 70vh;
      margin: 0 1.5em;
    }
  }
}
