<div class="not-dragging" *ngIf="!dragging">
  <div class="clickable" (click)="browse()">
    <i class="bhi-dropzone"></i>
    <span class="main-text">Select a CSV file to get started</span>
    <span class="sub-text">Drag and drop anywhere on this page or <a>click to browse</a></span>
  </div>
  <novo-tip-well name="first-row" icon="info" tip="The first row in the file must be a header row"></novo-tip-well>
</div>
<div class="dragging" *ngIf="dragging">
  <div class="icon-background">
    <i class="bhi-dropzone"></i>
  </div>
  <h1>Drop CSV file here to get started</h1>
</div>
