@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;

  .not-dragging {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: $dl-stepper-height;
    width: 80%;

    .clickable {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      min-width: 23em;

      i {
        font-size: 6em;
        color: $light;
      }

      .main-text {
        @include main-text();
        margin-top: 1em;
      }

      .sub-text {
        @include sub-text();
        margin-top: 1em;
      }
    }

    .separator {
      height: 18em;
      margin: 2em;
      border-right: 1px solid $light;
    }

    novo-tip-well {
      margin-top: 1em;
    }
  }

  .dragging {
    z-index: 999;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: $dl-side-pane-width;
    right: 0;
    background: rgba(0, 0, 0, 0.7);

    .icon-background {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $positive;
      border-radius: 50%;
      width: 12em;
      height: 12em;

      i {
        font-size: 6em;
        color: $white;
      }
    }

    h1 {
      margin-top: 1em;
      font-size: 1.7em;
      text-align: center;
      color: $white;
    }
  }
}
