# See http://help.github.com/ignore-files/ for more about ignoring files.

# dataloader cli download
dataloader.zip
/dataloader

# compiled output
/dist
/tmp
/out-tsc
/packages

# Running electron in dev mode
/userData

# Running electron package locally
build.log

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
