os: osx
osx_image: xcode10.2

language: node_js
node_js: "10"

addons:
  chrome: stable

cache:
  yarn: true
  directories:
    - node_modules
    - $HOME/Library/Caches/electron
    - $HOME/Library/Caches/electron-builder

install:
  - yarn --frozen-lockfile

script:
  - yarn lint
  - travis_wait yarn package
