@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

:host {

  .terms {
    display: flex;
    flex-direction: column;
    align-items: center;

    .license {
      min-width: 95%;
      max-width: 95%;
      min-height: 14em;
      max-height: 14em;
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  .terms-link {
    text-align: center;
    margin: 2em;
  }
}
