<novo-modal>
  <header title="About Bullhorn Data Loader" icon="info" theme="light"></header>
  <section>
    <h3>Getting started?</h3>
    <p>
      Check out the <a
      (click)="openLink('https://docs.google.com/document/d/1ESwQCvuGwfQgsuFwFPtycfEVXInYduWEo4AWjIGUkeY')">
      Execution Guidelines and Best Practices</a>.
    </p>
    <h3>Getting stuck?</h3>
    <p>
      Consult the <a (click)="openLink('https://github.com/bullhorn/dataloader/wiki')">Data Loader Wiki</a> for answers.
    </p>
    <h3>Still stuck?</h3>
    <p>
      Add an issue for the
      <a (click)="openLink('https://github.com/bullhorn/dataloader-app/issues')">Desktop App</a> or the
      <a (click)="openLink('https://github.com/bullhorn/dataloader/issues')">Data Loader</a> on GitHub.
    </p>
  </section>
  <button theme="standard" (click)="close()">Ok</button>
</novo-modal>
