<novo-modal>
  <header title="About Data Loader" icon="info" theme="light">
    <utils>
      <util-action icon="times" (click)="close()"></util-action>
    </utils>
  </header>
  <section>
    <h1>Terms of Use</h1>
    <h3>With great power comes great responsibility</h3>
    <p>Data Loader can change your data in a big way that may not be possible to reverse if mistakes are made. By using it, you acknowledge that you
      understand the risks in mass-importing, mass-updating and mass-deleting data in the system. Pro Tip: export from a list to CSV files to backup
      your data before loading new data.</p>
    <h3>Be mindful of others</h3>
    <p>Data Loader can load millions of records in a very short time from an API user. This can have an impact on actual users of the system. If you
      plan to load more than ~100,000 records at a time, please do it off-hours.</p>
    <h3>This is a Beta Release</h3>
    <p>This App will stay in Beta until it is released to the Windows/Mac stores. Once available in the store, the
      app will be automatically kept up to date with new features and bug fixes. Until then, new Beta versions of the App will need to be
      downloaded and installed manually. If you are experiencing issues with this Beta Release, please contact the developer Nathan Dickerson at:
      ndickerson@bullhorn.com.</p>
  </section>
  <button theme="standard" (click)="close()">Ok</button>
</novo-modal>
