@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

header {
  height: $dl-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
  background: $navigation;
  width: 100%;
  user-select: none;

  .logo {
    display: flex;
    margin-left: 20px;

    .forklift {

      svg {
        height: 50px;
        width: 50px;
      }
    }

    .logo-text {
      margin-left: 14px;
      align-self: center;

      .bullhorn-text {

        svg {
          height: 17px;
          width: 85px;
        }
      }

      .dataloader-text {
        color: $bittersweet;
        font-weight: 500;
        cursor: default;
      }
    }
  }
}
