@import 'novo-elements.scss';
@import 'styles.scss';

header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  background: $navigation;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .logo {
    display: flex;
    margin-left: 20px;

    .forklift {

      svg {
        height: 50px;
        width: 50px;
      }
    }

    .logo-text {
      margin-left: 14px;
      align-self: center;

      .bullhorn-text {

        svg {
          height: 17px;
          width: 85px;
        }
      }

      .dataloader-text {
        color: $bittersweet;
        font-weight: 500;
      }
    }

    .beta-indicator {
      align-self: flex-end;
      font-size: 10px;
      margin: 9px;
      padding: 2px 4px 2px 4px;
      color: $pulse;
      border: 1px solid $pulse;
      border-radius: 2px;
      box-shadow: 2px 2px 2px $black;
    }
  }
}

.header-spacer {
  height: 50px;
}
