header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  background: #2f384f;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .bullhorn-logo {
    margin-left: -8px;

    svg {
      height: 38px;
      width: 200px;
    }
  }

  .dataloader-logo {
    margin-left: auto;
    margin-right: auto;

    svg {
      width: 200px;
    }
  }
}
