@import 'novo-elements.scss';
@import 'styles.scss';

header {
  height: 50px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  background: $navigation;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .bullhorn-logo {
    margin-left: -8px;

    svg {
      height: 38px;
      width: 200px;
    }
  }

  .dataloader-logo {
    margin-left: auto;
    margin-right: auto;

    svg {
      width: 200px;
    }
  }

  .beta-indicator {
    color: $sunflower;
    position: absolute;
    margin-left: 47%;
    bottom: 0;
    font-size: 14px;
  }
}

.header-spacer {
  height: 50px;
}
