@import 'novo-elements.scss';

$new-run-bg: #0B0F1A;

.run-list-wrapper {
  width: 300px;
  position: fixed;
  bottom: 0;
  top: 63px;

  .new-run-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    background-color: $new-run-bg;
    color: $off-white;
    cursor: pointer;
    transition: background-color .2s;

    &.selected {
      cursor: default;
      background-color: $ocean;
    }

    &:not(.selected) {
      &:hover {
        background-color: lighten($new-run-bg, 5%);
      }
    }

    i {
      position: relative;
      bottom: 2px;
      margin-right: 5px;
    }
  }

  .historical-runs {
    height: 100%;
    overflow-y: auto;
  }
}
