@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

.load {
  .load-form {
    margin: 20px;
  }

  .preview {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 100px;
  }

  footer {
    @include sticky-footer();
  }
}
