<section class="load">
  <app-stepper #stepper>
    <app-step label="Select File" icon="upload">
      <div class="dropzone-container">
        <div class="dropzone">
          <i class="bhi-dropzone"></i>
          <span class="main-text">Select a CSV file to get started</span>
          <span class="sub-text">Drag and drop anywhere on this page or <a (click)="browse()">click to browse</a></span>
        </div>
      </div>
    </app-step>
    <app-step label="Choose Entity" icon="candidate">
      <div>
        <button theme="primary" (click)="stepper.previous()">Next</button>
      </div>
    </app-step>
    <app-step label="Map Columns" icon="list">
      <div>
        TODO
      </div>
    </app-step>
  </app-stepper>


  <!--  <div class="preview" *ngIf="run?.previewData">-->
  <!--    <novo-table [theme]="theme" [rows]="previewTable.rows" [columns]="previewTable.columns"-->
  <!--                [config]="previewTable.config">-->
  <!--      <novo-table-header class="table-header">-->
  <!--        <i class="header-icon" [class]="icon"></i>-->
  <!--        <div class="header-titles">-->
  <!--          <h1>{{ fileName }} - {{ run?.previewData?.total }} Rows</h1>-->
  <!--        </div>-->
  <!--      </novo-table-header>-->
  <!--    </novo-table>-->
  <!--  </div>-->
  <div class="loading-container" *ngIf="this.previewDataWithoutMeta">
    <novo-loading></novo-loading>
  </div>
  <footer>
    <!--    TODO: Only show when on step 1+ -->
    <button theme="standard" (click)="stepper.previous()">Back</button>
    <button theme="primary" class="load-button" [disabled]="!run?.previewData" (click)="load()" icon="upload"
            tooltip="Start uploading data into Bullhorn" tooltipPosition="top-left">
      Load
    </button>
  </footer>
</section>
