<section class="load">
  <novo-dynamic-form class="load-form" [fieldsets]="fieldSets" [(form)]="form"></novo-dynamic-form>
  <div class="preview" *ngIf="run?.previewData">
    <novo-table [theme]="theme" [rows]="previewTable.rows" [columns]="previewTable.columns"
                [config]="previewTable.config">
      <novo-table-header class="table-header">
        <i class="header-icon" [class]="icon"></i>
        <div class="header-titles">
          <h1>{{ fileName }} - {{ run?.previewData?.total }} Rows</h1>
        </div>
      </novo-table-header>
    </novo-table>
  </div>
  <footer>
    <button theme="primary" class="load-button" [disabled]="!run?.previewData" (click)="load()" icon="upload">Load</button>
  </footer>
</section>
