<app-header></app-header>
<section class="load">
  <div class="subtitle">
    <i class="bhi-upload"></i>
    <h1>Load</h1>
  </div>
  <novo-dynamic-form class="load-form" [fieldsets]="fieldSets" [(form)]="form"></novo-dynamic-form>
  <div class="preview" *ngIf="previewData">
    <novo-table [theme]="theme" [rows]="previewTable.rows" [columns]="previewTable.columns"
                [config]="previewTable.config">
      <novo-table-header class="table-header">
        <i [class]="icon"></i>
        <h4>{{fileName}} - {{previewData.total}} Rows</h4>
      </novo-table-header>
    </novo-table>
  </div>
  <footer>
    <button theme="primary" class="load-button" [disabled]="!previewData" (click)="load()" icon="publish">Load</button>
  </footer>
</section>
