@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

.load {
  @include scrollable();

  .choose-entity-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    button {
      margin-left: 1em;
    }
  }

  .loading-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
  }

  footer {
    @include sticky-footer();

    &.one-button {
      justify-content: flex-start;
    }

    &.two-buttons {
      justify-content: space-between;
    }
  }
}
