@import "novo-elements.scss";

.load {
  background: $white;
  width: 100%;
  margin-bottom: 50px;

  .novo-form-row {
    margin-top: 25px;
  }

  .novo-control-input {
    &.file {
      margin-bottom: 50px;
    }
  }

  .title {
    color: $white;
    background: $candidate;
    padding-left: 20px;
  }

  .content {
    margin: 20px;

    .output {
      margin: 20px;
    }

    .table-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        width: 70px;
        color: $dark;
        padding: 0.6em;
      }
    }
  }
}
