<!--<div class="backdrop ng-animate" *ngIf="visible || loading">-->
<div class="backdrop ng-animate">
    <!--<div class="region" *ngIf="!loading">-->
        <!--<i class="bhi-resume"></i>-->
    <!--</div>-->
    <!--<div class="circle-container" *ngIf="loading">-->
        <!--<div class="inner-circle">-->
            <!--<h3 class="circle-percentage">{{ num }}</h3>-->
            <!--<h5 class="status">{{ description }}</h5>-->
        <!--</div>-->
        <!--<svg version="1.1" id="loading-modal-graph" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="150px" height="150px" viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">-->
            <!--<defs>-->
                <!--<linearGradient id="gradient">-->
                    <!--<stop offset="0" stop-color="#954ce9" />-->
                    <!--<stop offset="0.3" stop-color="#954ce9" />-->
                    <!--<stop offset="0.6" stop-color="#24c1ed" />-->
                    <!--<stop offset="1" stop-color="#24c1ed" />-->
                <!--</linearGradient>-->
                <!--<style media="screen">-->
                    <!--.color {-->
                        <!--stroke: url('#gradient');-->
                    <!--}-->

                <!--</style>-->
            <!--</defs>-->
            <!--<g>-->
                <!--<circle class="underlay" cx="75" cy="75" r="67" />-->
                <!--<circle class="color" [ngClass]="stageCls" cx="75" cy="75" r="67" />-->
            <!--</g>-->
        <!--</svg>-->
    <!--</div>-->
    <!--&lt;!&ndash;<h1 *ngIf="!loading">{{ 'FILES.DRAG_AND_DROP_RESUME' | translate }}</h1>&ndash;&gt;-->
    <!--<h1 class="err-status">{{ message }}</h1>-->
</div>
