@import '../../node_modules/novo-elements/novo-elements.scss';
@import '../styles.scss';

.content {
  display: flex;

  .side-pane {
    width: $dl-side-pane-width;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .19);

    .new-run {
      display: block;
      border-bottom: 1px solid $light;
    }

    .run-history {
      height: calc(100vh - $dl-header-height - $dl-new-run-height);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  .main {
    position: absolute;
    left: $dl-side-pane-width;
    width: calc(100% - 300px);
    overflow: hidden;
  }
}
