@import '../../node_modules/novo-elements/novo-elements.scss';
@import '../styles.scss';

.content {
  display: flex;

  .side-pane {
    height: calc(100vh - #{$dl-header-height});
    width: 300px;

    .new-run {
    }

    .run-history {
      height: 100%;
      overflow-y: scroll;
      padding-bottom: 100px;
    }
  }

  .main {
    position: absolute;
    left: 300px;
    height: calc(100vh - #{$dl-header-height});
    width: calc(100% - 300px);
    overflow: hidden;
  }
}
