@import '../../node_modules/novo-elements/novo-elements.scss';
@import '../styles.scss';

.content {
  display: flex;

  .side-pane {
    width: 300px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .19);

    .new-run {
      display: block;
      border-bottom: 1px solid $light;
    }

    .run-history {
      height: 100vh;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-bottom: 100px;
    }
  }

  .main {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px);
    overflow: hidden;
  }
}
