@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

:host {
  min-height: $dl-new-run-height;

  .run {
    background-color: $off-white;
    padding: 0.7rem;
    cursor: pointer;
    user-select: none;

    &.selected {
      cursor: default;
      background-color: $ocean;
      color: $off-white;

      i {
        color: $off-white;
      }
    }

    &:not(.selected) {
      &:hover {
        background-color: lighten($off-white, 5%);
      }
    }

    .header {
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      justify-content: start;
      padding-right: 10px;
      margin-top: 4px;
      margin-bottom: 4px;

      i {
        position: relative;
        bottom: 1px;
        margin-right: 8px;
        font-size: 1.6rem;
      }

      .filename {
        word-break: break-all;
      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      margin-left: 2rem;
      margin-right: 1rem;

      .loading {
        text-transform: uppercase;
        animation: pulse 1s infinite;
      }

      @keyframes pulse {
        0% {
          opacity: 0.5;
        }
        50% {
          opacity: 1.0;
        }
        100% {
          opacity: 0.5;
        }
      }
    }
  }
}
