bowling-alley {
    display: flex;
    flex-flow: column nowrap;
    section.alley-links {
        flex: 1;
        .alleylink {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            min-height: 41px;
            padding: 10px;
            position: relative;
            background: $background;
            box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
            border-left: 5px solid darken($background, 3%);
            cursor: pointer;
            transition: all 120ms ease-in-out;
            color: darken($background, 45%);
            span {
                flex: 1;
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            button {
                display: none;
                background: transparent;
                border: none;
                color: darken($background, 40%);
                cursor: pointer;
                &:hover {
                    color: darken($background, 75%);
                }
                &:focus {
                    outline: none;
                }
                &:before {
                    vertical-align: 0;
                }
            }
            i {
                color: darken($background, 45%);
            }
            &:hover {
                background: darken($background, 1%);
                z-index: 1;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .1);
                &:last-of-type {
                    box-shadow: 0 2px 5px rgba(0, 0, 0, .05), 0 1px 2px rgba(0, 0, 0, .1);
                }
                button {
                    display: block;
                }
                &.pinned,
                &.pinned.active {
                    .bhi-pin {
                        display: none;
                    }
                }
            }
            &.active {
                background: lighten($background, 5%);
                color: darken($background, 75%);
                z-index: 1;
                box-shadow: 0 0 2px rgba(0, 0, 0, .05);
            }
            &.hidden {
                display: none !important;
            }
            .bhi-pin {
                display: none;
            }
            &.pinned {
                .bhi-pin {
                    display: block;
                    padding: 1px 5px;
                    font-size: 16px;
                }
            }
            &.purple {
                border-left: 5px solid $lavender;
            }
            &.green {
                border-left: 5px solid $grass;
            }
            &.blue {
                border-left: 5px solid $positive;
            }
            &.lead {
                border-left: 5px solid $lead;
            }
            &.candidate {
                border-left: 5px solid $candidate;
            }
            &.contact {
                border-left: 5px solid $contact;
            }
            &.company {
                border-left: 5px solid $company;
            }
            &.opportunity {
                border-left: 5px solid $opportunity;
            }
            &.job {
                border-left: 5px solid $job;
            }
            &.submission {
                border-left: 5px solid $submission;
            }
            &.placement {
                border-left: 5px solid $placement;
            }
            &.navigation {
                border-left: 5px solid $navigation;
            }
            &.neutral {
                border-left: 5px solid $neutral;
            }
            &.initial {
                border-left: 5px solid darken($background, 3%);
            }
            &.distributionList {
                border-left: 5px solid $neutral;
            }
        }
    }
    uploader {
        input {
            width: 100%;
            cursor: pointer;
        }
    }
    .close-all-tabs {
        text-transform: capitalize;
        cursor: pointer;
        border-radius: 0;
        &:hover {
            box-shadow: none !important;
        }
        >.flex-wrapper {
            justify-content: center !important;
        }
    }
}
