<dataloader-menu></dataloader-menu>

<section class="alley-links">
    <!--<div class="alleylink" [ngClass]="window.color" [class.active]="window.active" [class.pinned]="window.pinned" *ngFor="let window of WindowManager.loadedWindows" (click)="makeWindowActive(window.uuid)" [attr.data-automation-id]="window.name">-->
        <!--<span *ngIf="!window.titleKey">{{ window.title || loadingLabel }}</span>-->
        <!--<span *ngIf="window.titleKey">{{ titleManager(window.titleKey) }}</span>-->
        <!--<i class="bhi-pin"></i>-->
        <!--<button class="bhi-times" (click)="closeWindow(window.uuid)"></button>-->
    <!--</div>-->
</section>
<drop-area #drop></drop-area>
<!--<uploader theme="dialogue" icon="resume" (select)="drop.upload($event)"></uploader>-->
<a class="close-all-tabs" theme="standard" routerLink='../settings'>Settings</a>
<!--<button class="close-all-tabs" theme="standard" [disabled]="!WindowManager.windows.length" (click)="closeAllWindows()">{{ 'BOWLING_ALLEY.CLOSE_ALL_TABS' | translate }}</button>-->
