@import 'novo-elements.scss';
@import 'styles.scss';

.results {
  margin-bottom: 100px;

  novo-nav-content {
    &.tab-overview {
      margin: 20px;
    }

    .overview {
      display: flex;
      align-items: center;

      .chart {
        width: 50%;
        text-align: center;

        novo-card-chart-donut {
          aside:before {
            font-weight: 600;
          }
        }

        .time {
          display: flex;
          justify-content: space-around;
          margin: 20px;
          align-items: center;
        }
      }

      .totals {
        width: 50%;
      }
    }

    .errors {
      margin-top: 20px;
    }

    .output {
      padding: 20px;
      font-family: monospace;
      white-space: pre-line;
      color: white;
      background: $dark;
      overflow: scroll;
      position: absolute;
      left: 0;
      right: 0;
      top: 154px;
      bottom: 58px;
      z-index: -1;
    }
  }
}
