@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

.results {

  novo-nav-content {
    &.tab-overview {
      @include scrollable();
    }

    .overview {
      display: flex;
      align-items: center;
      margin: 20px;

      .chart {
        width: 50%;
        text-align: center;

        .time {
          display: flex;
          justify-content: space-around;
          margin: 20px;
          align-items: center;
        }
      }

      .totals {
        width: 50%;
      }
    }

    .errors {
      margin: 20px;
      padding-bottom: 15em;
    }

    .output {
      @include scrollable();
      padding: 0 1.5em 20em;
      font-family: monospace;
      white-space: pre-line;
      color: white;
      background: $dark;
    }
  }

  footer {
    @include sticky-footer();
  }
}
