@import '../../../../node_modules/novo-elements/novo-elements.scss';
@import '../../../styles.scss';

// TODO: Convert all px to rem
.results {

  novo-nav-content {
    &.tab-overview {
      @include scrollable();
    }

    .overview {
      display: flex;
      margin: 1rem;

      .chart {
        width: 50%;
        max-width: 300px;
        text-align: center;
        display: flex;
        flex-direction: column;

        .subtitle {
          margin-top: 1rem;
        }
      }

      .totals {
        width: 70%;

        .times {
          display: flex;
          justify-content: space-around;
          margin: 20px;
          align-items: center;
        }
      }
    }

    .errors {
      margin: 2rem 1rem 1rem;
      padding-bottom: 15rem;
    }

    .output {
      @include scrollable();
      padding: 0 1.5rem 20rem;
      font-family: monospace;
      white-space: pre-line;
      color: white;
      background: $dark;
    }
  }

  footer {
    @include sticky-footer();
  }
}
