@import 'novo-elements.scss';

.run-tile-btn {
  height: 54px;
  background-color: $off-white;
  cursor: pointer;
  transition: all .2s;

  &:not(.selected) {
    &:hover {
      background-color: lighten($off-white, 5%);
      color: black;
    }

    &.dark {
      background-color: darken($off-white, 5%);

      &:hover {
        background-color: darken($off-white, 10%);
      }
    }
  }

  &.selected {
    cursor: default;
    background-color: $ocean;
    color: $off-white;
  }

  > div {
    display: flex;
    justify-content: space-between;
  }
}
