// Vendor
@import '../node_modules/novo-elements/novo-elements.scss';

$dl-header-height: 63px;
$dl-stepper-height: 80px;
$dl-side-pane-width: 300px;

@mixin scrollable() {
  height: calc(100vh - #{$dl-header-height});
  overflow-y: scroll;
  overflow-x: hidden;
}

@mixin sticky-footer() {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  left: $dl-side-pane-width;
  padding: 10px 15px;
  z-index: 100;
  background-color: $background;

  button {
    margin-left: 1em;
  }
}

@mixin centered() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin main-text() {
  font-size: 1.7em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
}

@mixin sub-text() {
  font-size: 1.1em;
  padding: 1em;
  text-align: center;
}

@mixin entity-background-color() {
  @each $entity, $color in $entity-colors {
    &.#{$entity} {
      background: $color;
    }
  }
}

// Zoom out 90% to match Novo sizing
body {
  overflow: hidden;
  zoom: 0.9;
  background: $white;

  // Zoom correction for positioning of popovers
  .cdk-overlay-pane {
    margin-bottom: calc(100vh * 0.11);
    margin-right: calc(100vw * 0.11);
  }

  // Zoom correction for charts that can't handle zoom - only use if chart interactions are enabled
  //canvas {
  //  zoom: 1.11;
  //}
}
