// Vendor
@import '../node_modules/novo-elements/novo-elements.scss';

$dl-header-height: 63px;
$dl-stepper-height: 80px;
$dl-side-pane-width: 300px;

@mixin scrollable() {
  height: calc(100vh - #{$header-height});
  overflow-y: scroll;
  overflow-x: hidden;
}

@mixin sticky-footer() {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  right: 0;
  left: $dl-side-pane-width;
  padding: 10px 15px;
  z-index: 100;
  background-color: $background;
}

body {
  overflow: hidden;
  zoom: 0.9;

  // Zoom correction for positioning of popovers
  .cdk-overlay-pane {
    margin-bottom: calc(100vh * 0.11);
    margin-right: calc(100vw * 0.11);
  }

  // Zoom correction for charts that can't handle zoom -
  //   use this if we ever need chart interactions
  //canvas {
  //  zoom: 1.11;
  //}
}

.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  i {
    margin: 10px;
  }

  h1 {
    font-size: 1.6em;
    padding: 0;
  }
}
