$menu-bg: #0B0F1A;
$header-height: 54px;

menuitem {
    width: 33%;
    margin-bottom: 20px;
    transition: all 160ms ease-in-out;
    backface-visibility: hidden;

    &.folder {
        button.menu-item {
            > i {
                border: 2px solid $white;

                &:before {
                    line-height: 1.6em;
                }
            }
        }
    }

    &:hover {
        > .menu-item {
            i {
                background-color: lighten($menu-bg, 10%);

                @each $entity, $color in $entity-colors {
                    &.#{$entity} {
                        background-color: saturate(lighten($color, 4%), 6%);
                    }
                }

                &.grey {
                    background: lighten($neutral, 8%);
                }
            }
        }
    }

    > .menu-item {
        color: $white;
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        opacity: 1;
        transition: all 200ms ease-in-out;
        font-size: 12px;
        padding: 0;
        white-space: nowrap;
        font-size: 42px;
        text-align: center;

        > * {
            display: block;
            margin: 0 auto;
        }

        i {
            margin-bottom: 10px;
            background-color: $menu-bg;
            transition: all 160ms ease-in-out;

            @each $entity, $color in $entity-colors {
                &.#{$entity} {
                    background-color: $color;
                }
            }

            &.grey {
                background: $neutral;
            }
        }

        label {
            font-size: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &.gu-mirror {
        i {
            background: $dark;
        }

        label {
            color: $dark;
        }
    }
}

submenu {
    .submenu {
        display: none;
        background: #efefef;
        position: absolute;
        left: 20px;
        right: 20px;
        max-height: 200px;
        opacity: 0;
        @include ease( 'all', 'swift-ease-in');
        overflow: hidden;
        margin-top: -50px;
        border-radius: 3px;
        box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.95);

        &.active {
            display: flex;
            flex-direction: column;
        }

        &.animate {
            opacity: 1;
            max-height: 350px;
            margin-top: 0;
        }

        > header {
            width: 100%;
            padding: 0 20px;
            display: flex;
            flex-flow: row nowrap;
            color: $dark;
            align-items: center;
            border-bottom: 1px solid #dedede;

            h1 {
                flex: 1;
                font-size: 1.4em;
                font-weight: 500;
                color: $dark;
                padding: 0;
            }

            button {
                margin-top: 5px;
            }
        }

        .pages {
            padding: 10px;
            min-height: inherit;
        }

        .menu-item {
            padding: 0 11px;

            &:hover {
                i {
                    background: lighten($dark, 10%);
                }
            }

            i {
                color: $white;
                background: $dark;
            }

            label {
                color: $dark;
                font-size: 12px;
            }
        }
    }
}

.menu-toggle {
    background: #0B0F1A;
    color: $white;
    border: none;
    outline: none;
    height: $header-height;
    width: 100%;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px;
    position: relative;
    z-index: 2;

    > i {
        margin-right: 10px;

        &:before {
            vertical-align: 0;
        }

        &.bhi-times {
            animation: 0.3s half-rotate;
        }

        &.bhi-menu-o {
            animation: 0.3s rotateBack;
        }
    }

    &:hover {
        background: lighten(#0B0F1A, 3%);
    }

    &:focus {
        background: darken(#0B0F1A, 3%);
    }

    > span {
        transition: all 240ms ease-in-out;
        font-size: 1.3em;
    }
}

.menu-container {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    width: 450px;
    height: 100%;
    opacity: 1;
    transform: translateX(0);
    display: flex;
    flex-direction: row;
    transition: all 240ms ease-in-out;
    overflow: hidden;
    background: $menu-bg;

    &[hidden] {
        display: none;
    }

    header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        height: 54px;
        min-height: 54px;
        border-bottom: 1px solid rgba(120, 141, 198, 0.25);

        label {
            padding-left: 15px;
            color: rgba(lighten(desaturate($menu-bg, 15%), 65%), .85);
            display: flex;
            align-items: center;

            > i {
                margin-right: 10px;
            }
        }
    }

    .pages {
        flex: 1;
        color: #fff;
        padding: 30px;
        display: flex;
        flex-flow: row wrap;
        min-height: 445px;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
        overflow: auto;
    }

    > section {
        display: inline-block;
        width: 450px;
        flex-shrink: 0;
        @include ease( 'all', 'swift-ease-in-out');

        &.menu-edit,
        &.view {
            transform: translateX(0);
            display: flex;
            flex-direction: column;

            &.animate {
                transform: translateX(-450px);
            }
        }
    }

    &.ng-enter {
        opacity: 0;
        animation: 0.3s show;
    }

    &.ng-enter-active {
        opacity: 1;
        animation: 0.3s show;
    }

    &.ng-leave-active {
        opacity: 0;
        transform: translateX(-100%);
    }

    .menu-edit {
        header {
            &.menu-search {
                background: rgba(darken($menu-bg, 15%), .15);
                font-weight: 300;
                border-bottom: 1px solid transparent;
                @include ease( 'all', 'swift-ease-in-out');
                padding: 0 1em;

                i {
                    padding: 10px;
                }

                input {
                    flex: 1;
                    border: none;
                    background: none;
                    color: white;
                    padding: 10px;

                    &:active,
                    &:focus {
                        outline: none;
                    }
                }

                &.filtered {
                    border-bottom: 1px solid $ocean;
                }
            }
        }
    }

    .menu-form {
        overflow: auto;

        .folder {
            .folder-title {
                display: flex;
                flex-flow: row nowrap;
                flex: 1;
                width: 100%;
                border-top: 1px solid rgba(lighten($menu-bg, 55%), .25);
                height: 40px;

                > label {
                    flex: 1;
                    font-weight: 400;
                    padding: 1em 30px 0;
                    font-size: 0.9em;
                    text-transform: uppercase;
                    color: $white;
                }

                .group-switch {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    > label {
                        text-transform: uppercase;
                        font-size: 0.9em;

                        &.grouped {
                            color: $positive;
                        }
                    }
                }
            }

            .folder-items {
                padding: 10px 30px;
                display: flex;
                flex-flow: row wrap;
            }

            .folder-item {
                display: inline-block;
                flex: 1 50%;
                transition: opacity 160ms ease-in-out;

                &.disabled {
                    pointer-events: none;
                    cursor: not-allowed;
                    opacity: 0.25;
                }

                novo-checkbox {
                    margin-bottom: 10px;

                    label {
                        color: white;

                        > span {
                            padding-left: 5px;
                        }
                    }

                    .check-box-group:not(.checked) {
                        label > span {
                            opacity: 0.5;
                        }
                    }
                }
            }
        }
    }

    span.spacer {
        flex: 1;
    }
}
