<!--<button class="menu-toggle" (click)="toggle($event)">-->
<button class="menu-toggle">
    <i [class]="active ? 'bhi-times': 'bhi-menu-o'"></i>
    <span class="ng-animate" *ngIf="active">Close</span>
    <span class="ng-animate" *ngIf="!active">Menu</span>
</button>
<!--<div class="ng-animate menu-container" *ngIf="active">-->
<!--<div class="ng-animate menu-container">-->
    <!--<section class="view" [ngClass]="{animate: isEditing}">-->
        <!--<header>-->
            <!--<span class="spacer"></span>-->
            <!--<button theme="dialogue" icon="edit-o" side="left" color="white" (click)="edit($event)" inverse>{{ 'MENU.ADD_REMOVE' | translate }}</button>-->
        <!--</header>-->
        <!--<section class="pages" [dragula]="'menu'" [dragulaModel]="menus?.display" (click)="closeSubMenus($event)">-->
            <!--<bh-menuitem *ngFor="let menu of menus?.display" [data]="menu" [hidden]="!menu.isVisible && !menu.grouped" (selected)="menuItemSelected($event)" (menuOpened)="onMenuOpen($event)" (menuClosed)="onMenuClosed()"></bh-menuitem>-->
        <!--</section>-->
    <!--</section>-->
    <!--<section class="menu-edit" [ngClass]="{animate: isEditing}" (click)="swallow($event)">-->
        <!--<header>-->
            <!--<span class="spacer"></span>-->
            <!--<button theme="dialogue" icon="check" side="left" color="success" (click)="save($event)" inverse>{{ 'MENU.DONE' | translate }}</button>-->
        <!--</header>-->
        <!--<header class="menu-search" [class.filtered]="filter">-->
            <!--<i class="bhi-search"></i>-->
            <!--<input type="text" [(ngModel)]="filter" placeholder="{{ 'MENU.FILTER_ITEMS' | translate }}" />-->
        <!--</header>-->
        <!--<section class="menu-form">-->
            <!--<div *ngFor="let menu of menus?.data" class="folder">-->
                <!--<div class="folder-title">-->
                    <!--<label>{{menu.name}}</label>-->
                    <!--<div class="group-switch" *ngIf="menu.canModifyGrouping">-->
                        <!--<label *ngIf="!menu.grouped">{{ 'MENU.UNGROUPED' | translate }}</label>-->
                        <!--<label *ngIf="menu.grouped" class="grouped">{{ 'MENU.GROUPED' | translate }}</label>-->
                        <!--<novo-switch [attr.name]="menu.name" class="ocean" [(ngModel)]="menu.grouped"></novo-switch>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="folder-items">-->
                    <!--<div class="folder-item" *ngFor="let item of menu.menuItems" [class.disabled]="filter && item.name.toLowerCase().indexOf(filter.toLowerCase()) < 0" [attr.data-automation-id]="item.name">-->
                        <!--<novo-checkbox [name]="item.name" [label]="item.name" [(ngModel)]="item.isVisible"></novo-checkbox>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
    <!--</section>-->
<!--</div>-->
