<section class="settings">
    <h1 class="title">Settings</h1>
    <section class="content">
        <novo-form [form]="form" layout="vertical">
            <section>
                <div class="novo-form-row" *ngFor="let control of formControls">
                    <novo-control [form]="form" [control]="control"></novo-control>
                </div>
            </section>
        </novo-form>
        <footer>
            <button theme="primary" class="cancel" color="negative" icon="times" routerLink='/load'>Cancel</button>
            <button theme="primary" class="save" icon="check" (click)="save()">Save</button>
        </footer>
    </section>
</section>
