load {
    background: $white;
    width: 100%;
    margin-bottom: 50px;

    .title {
        color: $white;
        background: $candidate;
        padding-left: 20px;
    }

    .content {
        margin: 20px;

        .output {
            margin: 20px;
        }
    }
}
