<section class="load">
    <h1 class="title">Load</h1>
    <section class="content">
        <novo-form [form]="fileForm" layout="vertical">
            <div class="novo-form-row">
                <novo-control [form]="fileForm" [control]="fileControl"></novo-control>
            </div>
        </novo-form>
        <novo-table [rows]="preview.rows" [columns]="preview.columns" [config]="preview.config" #table></novo-table>
        <div class="output">{{response}}</div>
        <button theme="primary" class="load" (click)="loadSample(fileForm)">Load</button>
    </section>
</section>
